[input]

; time in seconds to wait before switching to new rotated file
rotate_wait = 5

; the label
tag = example.api.access

; format to use, either use 'nginx' or custom regex
format = nginx
; format = (?P<remote>[^ ]*) (?P<host>[^ ]*) (?P<user>[^ ]*) \[(?P<time>[^\]]*)\] "(?P<method>\S+)(?: +(?P<path>[^\"]*) +\S*)?" (?P<code>[^ ]*) (?P<size>[^ ]*)(?: "(?P<referer>[^\"]*)" "(?P<agent>[^\"]*)")(?: (?P<request_time>[^ ]*) (?P<upstream_time>[^ ]*) (?P<pipe>[\.|p]))?

; the paths to read, currently only support directory
path = /var/log/nginx

[output]

; the IP address or host name of the server
host = 127.0.0.1

; the TCP port of the server
port = 24224

; the interval of the heartbeat packer (uses UDP port 24225)
heartbeat_interval = 1

; the timeout time when sending event logs
send_timeout = 60
